@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0;
    margin: 0;
  }
  
#home {
  overflow: hidden;
}

#pinContainer {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
#pinContainer .panel {
  height: 100vh;
  width: 100vw;
  position: absolute;
}


#main {
  background-image: url('../public/images/shape.svg');
  background-size: cover;
  background-position:40rem;
  background-repeat: no-repeat;
}

@media screen and (max-width:768px) {
  #main {
    background-position:-50rem;
  }
}